<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1 style="text-align: center;">WELCOME TO MY ECOMMORCE</h1>
    <table align="center">
        <tr>
            <td>
                <a href="/products"><input type="submit" value="View Data Product"></a>
            </td>
            <td>
                <a href="/users"><input type="submit" value="View Data Users"></a>
            </td>
        </tr>
    </table>
    
</body>
</html>